.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;


    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url(../images/heroic/hero-bg-mobile.jpg);
    
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) 
        {
        background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/heroic/hero-bg-mob-2x.jpg);
        }

    @include mq (tablet) {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/heroic/hero-bg-tablet.jpg);
        @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                background-image: linear-gradient(
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                    url(../images/heroic/hero-bg-tablet-2x.jpg);
                }
    }
    @include mq (desktop) {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/heroic/heroic.png);
        @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                background-image: linear-gradient(
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                    url(../images/heroic/heroic-2x.png);
                }
                }


    background-color: var(--heroic-background-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    padding-top: 200px;
    padding-bottom: 200px;
}

.hero__container {
    width: 100%;
}

.hero__heading {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-button-text-color);

    @include mq(mobile) {
        width: 360px;

    }

    @include mq(desktop) {
        width: 696px;

     

        font-size: 44px;
        line-height: 1.36;
    }
}

